/*S1*/
.ALGAV{background-color: #DE9816;}
.DLP{background-color: #FF5E4D;}
.IL{background-color: #FFD700;}
.MLBDA{background-color: #318CE7;}
.LRC{background-color: #26619C;}
.NOYAU{background-color: #CC5500;}
.PR{background-color: #03224C;}
.AAGB{background-color: #9683EC;}
.ARCHI1{background-color: #A91101;}
.ARES{background-color: #0131B4;}
.BIMA{background-color: #C7CF00;}
.COMPLEX{background-color: #26C4EC;}
.ELECANA1{background-color: rosybrown;}
.MAPSI{background-color: #87E990;}
.MOBJ{background-color: #FF0921;}
.MODEL{background-color: #CCCCFF;}
.MOGPL{background-color: #E9383F;}
.RTEL{background-color: #25FDE9;}
.SIGNAL{background-color: #BEF574;}
.VLSI1{background-color: #008E8E ;}

/*S2*/
.CONFERENCES{background-color:red ;}
.APS{background-color: brown;}
.CA{background-color: rosybrown;}
.CPA{background-color:royalblue;}
.CPS{background-color: #C7CF00;}
.PC2R{background-color:#26619C ;}
.ALGORES{background-color:#87E990 ;}
.ANUMDSP{background-color: #DE9816;}
.AR{background-color: #CC5500;}
.ARCHI2{background-color: #A91101;}
.ARF{background-color:#9683EC ;}
.BDR{background-color: #E9383F;}
.BI{background-color:#FF5E4D ;}
.COMNUM{background-color:#BEF574 ;}
.DJ{background-color: #008E8E;}
.ELECANA2{background-color:#CCCCFF ;}
.FLAG{background-color:#FF0921 ;}
.FOSYMA{background-color:#26C4EC ;}
.FPGA1{background-color:#0131B4 ;}
.HPC{background-color: #03224C;}
.IAMSI{background-color: #CC5500;}
.IG3D{background-color: #318CE7;}
.IHM{background-color: #FFD700;}
.ISEC{background-color:orange ;}
.MMCN{background-color: orangered;}
.MOB{background-color: orchid;}
.PERI{background-color:coral ;}
.PNL{background-color: cyan;}
.PROGRES{background-color: crimson;}
.RNA{background-color: cadetblue;}
.ROUT{background-color: chartreuse;}
.RP{background-color: violet;}
.SAS{background-color: goldenrod;}
.SBAS{background-color: burlywood;}
.SEV{background-color: tomato;}
.SPECIF{background-color: lightsalmon;}
.SRCS{background-color: lightpink;}
.TAL{background-color: lime;}
.MV418{background-color:purple ;}


